.button{
    background: $purple;
    color: white;
    display: inline-block;
    border: none;
    padding: $m-size;
    font-weight: 300;
    font-size: $font-large;
    border-radius: 5px;
    text-decoration: none;
    line-height: 1;
}
.button--link{
    background: none;
    border: none;
    color: white;
    font-size: $font-large;
    i{
        font-size:  2.2rem;
        margin-left: 3px;
    }
}
.button--secondary{
    background: #888888;
}