.content_container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 $m-size;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.6rem 0;
}